extends ../layouts/common.layout.pug

block content
    h1 This is a list.
    a.btn.btn-primary.btn-listUser(href="/users/create") New user
    nav.navbar.navbar-light.bg-light
        form.form-inline(action="/users/search", method= "get")
            input.form-control.mr-sm-2(type="text", name="q", value= question, placeholder="Search")
            button.btn.btn-outline-success.my-2.my-sm-0(type = "submit") Search
    ul
         each user in users
            li
                span= user.name
                a(href="/users/" + user.id) 
                    span.badge.badge-secondary View